$colorWhite: #ffffff;
$mainBgColor: rgba(234, 238, 243, 0.2);

$bgImage: url('stylesheets/images/action-bg.png');
$bgMask: url('stylesheets/images/action-mask.png');
$twitterIcon: url('stylesheets/icons/twitter.svg');
$facebookIcon: url('stylesheets/icons/facebook.svg');
$linkedInIcon: url('stylesheets/icons/linkedin.svg');