@import "variables";

.toggle {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	&__child {
		display: block;
		line-height: 20px;
		position: relative;
		height: 2px;
		width: 100%;

		background-color: $toggleColor;
	}

	&__child::before,
	&__child::after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		background-color: $toggleColor;
	}

	&__child::before {
		top: -6px;
	}

	&__child::after {
		bottom: -6px;
	}
}